<html>
	<head>
		<title>хедер</title>
	</head>
	<body>
		<h1>да?!</h1>
		
		<p>Это пример абзаца текста.</p>
		
		<a href="https://www.google.com">Yandex.exe</a>
		
		<ul>
			<li>Элемент списка 1</li>
			<li>Элемент списка 2</li>
			<li>Элемент списка 3</li>
		</ul>
		
		<p>Питон - это простой и мощный язык программирования, часто используемый для разработки веб-приложений, научных исследований, а также автоматизации задач. Он обладает чистым и читаемым синтаксисом, что делает его привлекательным для начинающих программистов. Большое количество библиотек и фреймворков делает питон гибким и многофункциональным инструментом для различных проектов. 🐍</p>
	</body>
</html>